###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Explicitly tell GitHub (or other platform) that this project is C++
###############################################################################
* linguist-language=C++

###############################################################################
# Set default behavior for command prompt diff.
###############################################################################
# For earlier builds of msysgit without default C# diffing support.
#*.cs     diff=csharp

###############################################################################
# Set the merge driver for project and solution files.
###############################################################################
# Treat certain project files as binary to avoid diff conflicts.
# Uncomment if needed.
#*.sln       merge=binary
#*.csproj    merge=binary
#*.vbproj    merge=binary
#*.vcxproj   merge=binary
#*.vcproj    merge=binary
#*.dbproj    merge=binary
#*.fsproj    merge=binary
#*.lsproj    merge=binary
#*.wixproj   merge=binary
#*.modelproj merge=binary
#*.sqlproj   merge=binary
#*.wwaproj   merge=binary

###############################################################################
# Behavior for image files
###############################################################################
# Treat image files as binary.
#*.jpg   binary
#*.png   binary
#*.gif   binary

###############################################################################
# Diff behavior for common document formats
###############################################################################
# Convert binary document formats to text before diffing.
# Uncomment if needed.
#*.doc   diff=astextplain
#*.DOC   diff=astextplain
#*.docx  diff=astextplain
#*.DOCX  diff=astextplain
#*.dot   diff=astextplain
#*.DOT   diff=astextplain
#*.pdf   diff=astextplain
#*.PDF   diff=astextplain
#*.rtf   diff=astextplain
#*.RTF   diff=astextplain
